/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/cards.css");
@import url("components/avatar.css");
@import url("components/buttons.css");
@import url("components/footer.css");
@import url("components/header.css");
@import url("components/content.css");

/* Utilities */
h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
    color: #34656D;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 0;
}

body {
    background-color:#DCE7F7;
    font-family: 'Open Sans', sans-serif;
    color:#3987AF;
    font-size: 17px;
}

a {
    text-decoration: none;
}

/* Custom design */
.container {
    width: 700px;
    margin: 40px auto;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* Media queries */
@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 350px;
    }
}
