@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
    color: #34656D;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

body {
    background-color:#DCE7F7;
    font-family: 'Open Sans', sans-serif;
    color:#3987AF;
    font-size: 17px;
}

a {
    font-family: 'Open Sans', sans-serif;
    
    text-decoration: none;
    
}

a:hover {
    color: #ffffff;
    background-color: #34656d;
}

.container {
    width: 700px;
    margin: 40px auto;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

#footer {
    padding: 20px;
}

.avatar {
    width: 150px;
}

.img-circle {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 12px;
    border-radius: 6px;
}

.btn-icon {
    color: #053225;
}

.btn-icon:hover {
    color: #34656d;
    background-color: #ffffff00;
}

.green {
    background-color: #053225;
    font-weight: 400;
    color: #ffffff;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li{
    display: inline-block;
    padding: 10px 20px 0px 20px;
}

#intro-text {
    margin-bottom: 40px;
}

.icon {
    font-size: 30px;
}

#about-me-btn{
    margin-top: 30px;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 350px;
    }
}
